---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Etusivu">
  <div style="padding: 8rem 0; text-align: center;">
    <h1 style="font-size: 2rem; font-weight: bold;">Sivusto rakenteilla</h1>
  </div>
</BaseLayout>
